@font-face {
    font-family: "Energy";
    src: url(../font/Green_Energy/Green_Energy.ttf);
}

:root {
    --font-Energy: "Energy"
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

section {
    height: 100vh;
    background-image: url(../img/default.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: var(--font-Energy);
    font-size: 7rem;
    color: #95D600;
}

li {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #fcfcfc;
    font-size: 2rem;
}

a:hover + p {
    display: block;
}

p {
    display: none;
    height: 50vh;
    aspect-ratio: 16 / 10;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}

.image2_2 {
    background-image: url(../img/2_2.PNG);
    background-size: cover;
    color: #fcfcfc;
}

.image3_2 {
    background-image: url(../img/3_2.PNG);
    background-size: cover;
}   

.image3_3 {
    background-image: url(../img/3_3.PNG);
    background-size: cover;
}   